# Chave da API

/Secret.java

#package com.desencurtador.desencurtador.Secrets;

#public class Secret {
#    Secret(){
#    }
#    public String getApiToken(){
#        return "CHAVE-DA-API-DO-DESENCURTADOR";
#    }  
#}